<!doctype html>

<html lang="en">
  <head>
    <title>>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-1.5.1.min.css" />
    <style>
      a {
        display: inline;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <header id="navigation" class="p-navigation--light">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a href="https://robinwinslow.uk">robin</a>&nbsp;|&nbsp;<a href="/"><strong>development</strong></a>
          </div>
        </div>
    </header>
    {{ content }}
  </body>
</html>

