<!doctype html>

<html lang="en">
  <head>
    <title>>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-1.5.1.min.css" />
  </head>
  <body>
    <header id="navigation" class="p-navigation--light">
      <div class="row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a href="https://snapcraft.io">
              <img class="u-float-left" src="https://assets.ubuntu.com/v1/d45097a4-snapcraft.io-logotype.svg" width="148" alt="Snapcraft.io" />
            </a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>

