<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
    <meta name="description" content="{% if page.description %} {{ page.description }}{% else %}A note about development by Robin Winslow{% endif %}">
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-1.5.1.min.css" />
    <style>
      a {
        display: inline;
        margin: 0;
      }
      .main-content {
        font-size: 1.2em;
      }
      .date {
        display: block;
        margin-top: 0.5rem;
        font-size: 1rem;
        color: #888;
      }
    </style>
  </head>
  <body>
    <header id="navigation" class="p-navigation--light">
      <div class="row">
        <div class="p-navigation__banner">
          <div class="p-navigation__logo">
            <a href="https://robinwinslow.uk">robin</a>&nbsp;|&nbsp;<a href="/"><strong>development</strong></a>
          </div>
        </div>
        <nav class="p-navigation__nav">
          <span class="u-off-screen">
            <a href="#main-content">Jump to main content</a>
          </span>
          <ul class="p-navigation__links">
            <li class="p-navigation__link "><a href="https://robinwinslow.uk" class="p-link--external">robinwinslow.uk</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {{ content }}

    <footer class="p-footer u-no-margin--top" role="contentinfo">
      <section class="p-strip is-shallow">
        <div class="row p-divider">
          <div class="col-4 p-divider__block">
            <h4 class="p-muted-heading">Domains from Robin</h4>
            <ul class="p-list">
              <li><a class="p-link--soft p-link--external" href="https://robinwinslow.uk">Homepage</a></li>
            </ul>
          </div>
          <div class="col-4 p-divider__block">
            <h4 class="p-muted-heading">Organisations I love</h4>
            <ul class="p-list">
              <li><a href="https://eff.org" class="p-link--external">EFF</a></li>
            </ul>
          </div>
          <div class="col-4 p-divider__block">
            <h4 class="p-muted-heading">Contact me</h4>
            <ul class="p-list">
              <li><strong>Email</strong>: <a href="mailto:development@robinwinslow.uk" class="p-link--external">development@robinwinslow.uk</a></li>
              <li><strong>Phone</strong>: <a href="tel:07795070704" class="p-link--external">07795070704</a></li>
              <li><strong>Twitter</strong>: <a href="https://twitter.com/nottrobin" class="p-link--external">@nottrobin</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="p-strip is-shallow">
        <div class="row p-divider">
          <div class="col-12 p-divider__block">
            <p>You can use my writing however you like as long as you <a href="https://creativecommons.org/licenses/by/3.0/">mention my name</a>.</p>
            <p>All <a href="https://github.com/nottrobin/">my code and design work</a> is <a href="https://wiki.creativecommons.org/wiki/Public_domain">public domain</a>, so you can use it as you wish. Where I've used other libraries or frameworks, their licenses apply.
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
